@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}


/*------HEADER------*/

header nav img{
    width: 80px;
    height: auto;
    top: 8px;
    left: 50px;
}

.bg-menu{
    background-color:#f9f7dc;
}

.nav-link{
    color: #763c00;
}


/*------MAIN------*/

main section h1{
    font-size: 50px;
    font-weight: bold;
    color: #f9f7dc ;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inicio{
    height: 60vh;
    background-image: url("../img/escritorio-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
}

.inicio p{
    margin-bottom: 30px;
    color: black;
}

.inicio a{
    background-color:#f9f7dc ;
    color:#763c00 ;
    padding: 8px;
    border: 3px solid;
    font-size: 20px;
}
.servicios{
    text-align: center;
    margin-top: 30px;
}

.servicios h2{
    font-size: 32px;
    background-color: #763c00;
    width: fit-content;
    border: 2px solid #f9f7dc;
    margin: 0 auto 20px;
    padding: 10px 20px;
    color: #f9f7dc;
    border-radius: 8px;
}

.servicios .servicios-contenedor{
    display: flex;  
    justify-content: center ;
    padding: 30px;
    gap: 30px;
}

.servicios .servicios-contenedor div{
    width: 300px;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    background-color: #f9f7dc;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.servicios .servicios-contenedor div ul{
    list-style: inside;
    text-align: left;

}
.servicios .servicios-contenedor div h3{
    font-size: 22px;   
    padding: 10px;
    color: #763c00;
}
.servicios .servicios-contenedor div a{
    background-color: #f9f7dc;
    border-radius: 8px;
    color: #763c00;
    padding: 5px;
    border: 2px solid;
    font-size: 16px;
    z-index: 0;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.integrantes{
    text-align: center;
    background-color: #f9f7dc;
}
.integrantes h2{
    font-size: 32px;
    background-color: #f9f7dc;
    margin: 0 auto 20px;
    color: #763c00;
    padding: 8px;
    width: fit-content;
}


.integrantes .integrantes-items{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
} 

.integrantes .integrantes-items div img{
    width: 200px;
    height: auto;
}

.integrantes .integrantes-items div h3{
    color: #763c00;
    font-weight: bolder;
}

.nuestro-trabajo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}
.nuestro-trabajo img{
    width: 500px;
    height: auto;
}

.nuestro-trabajo div{
    max-width: 800px;
    height: auto;
}

.nuestro-trabajo div h2{
    font-size: 32px;
    margin-bottom: 10px;
    background-color: #ef8535;
    color: #f9f7dc;
    padding: 5px;
    border: 3px solid #f9f7dc;
    width: fit-content;
    border-radius: 8px;
    margin: 0 auto 10px;
}

.nuestro-trabajo div p{
    margin-bottom: 20px;
}

.nuestro-trabajo div a{
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    background-color: #f9f7dc;
    font-size: 20px;
    color: #763c00;
    padding: 8px;
    border: 2px solid  #763c00;
    border-radius: 8px;
}

/*servicios*/

.servicios-page {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.servicios-page h1 {
    text-align: center;
    margin: 30px;
    color: #763c00;

}

.servicios-page-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

.servicios-page-tarjeta {
    background-color: #f9f7dc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.servicios-page-tarjeta:hover {
    transform: translateY(-5px);
}

.servicios-page h2 {
    margin-bottom: 15px;
    color: #ef8535;
}

.servicios-page ul {
    list-style-type: circle;
    padding: 10px;
}

.servicios-page li {
    margin-bottom: 10px;
    color: #763c00;
}

@media (max-width: 768px) {
    .servicios-page-box {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}




footer{
    background-color:#f9f7dc ;
    padding: 20px;
}
footer h4{
    color: #ef8535;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.footer-enlaces ul{
    padding: 10px;
}

.footer-enlaces ul li{
    margin-bottom: 2px;
    list-style: inside;
    color:#ef8535 ;
}
.footer-enlaces ul li a {
    color: #763c00;
    text-decoration: none;
}

.footer-iframe {
    margin: 0 auto;
    display: block;
}

.footer-redes a{
    display: inline-block;
}

.footer-redes a img{
    width: 32px;
    height: auto;
    margin: 10px;
}