.contact-h1{
    @extend %h1-pages;
    margin-top: 20px;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
    background-color: #f7f7f7;
    .contact-info{
        padding: 2em;
        background-color: #f9f7dc;
        color: #333;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        flex: 1;
    }
    .contact-form{
        padding: 2em;
        background-color: #f9f7dc;
        color: #333;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        flex: 1;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            gap: 1em;
            #message{
                grid-column: span 2;
                padding: 1em;
                border: 1px solid #ccc;
                border-radius: 8px;
                width: 100%;
            }
            input{
                padding: 1em;
                border: 1px solid #ccc;
                border-radius: 8px;
            }
            button{
                grid-column: span 2;
                padding: 1em;
                background-color: #333;
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 4px; 
                &:hover{
                    background-color: #ddd;
                }  
            }
        }
    }
}